
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
 * {
	font-family: 'Ropa Sans';
}

html,
body {
	height: 100%;
	margin: 0;
}
a{
  text-decoration: none;
  color:unset;
}
body {
 
}
h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.logo{
  width:90%;
  padding:20px;   
  margin:0 auto;
  background: #fff;
  position:sticky;
  -webkit-position:-webkit-sticky;
  top:0;
}
.main{
  padding: 20px 20px 0 0;
  box-sizing:border-box;
   height:calc( 100vh - 20px );
  overflow-y:auto;
}
.sidemenu {
	height: 100vh;
	background: #fff;
  overflow-y: auto;
}

.pure-form {
	padding: 20px;
}
.pure-form.comments{
  padding:15px 0 0 0;
}
.pure-control-group label {
	width: 150px;
	text-align: right;
	display: inline-block;
	padding: 10px;
}

.pure-control-group input {
	width: 300px;
}

.pure-button.button-success {
	background: rgb(28, 184, 65);
	color: #fff;
}

.pure-form label:empty {
	margin: 0;
}

.pure-form p {
	display: inline-block;
}

.pure-form p:empty {
	margin: 0;
}

.preview img {
	max-height: 200px;
	margin: 10px 0;
}

progress[value="0"] {
	display: none;
}

progress {
	height: 4px;
	width: 300px;
}

progress[value="100"] {
	opacity: 0;
	transition: opacity 0.3s ease-in 3s;
}

div .pure-form legend {
	padding: 20px 10px;
	background: #ddd;
	text-transform: uppercase;
	border-left: 4px solid #ccc;
}

.galleryItem {
	height: 90px;
  width:90px;
  object-fit:cover;
}
.listItem {
    border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  border:1px solid #f2f2f2;
    transition:all 0.1s ease-in;

}
.listItem:hover{
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.listImage img{
  border-radius: 8px;
  overflow: hidden;
}
.listDetails h3{
  padding: 0 20px;
  margin-bottom:0; 
}

.deleteImage{
   text-align: center;
  padding: 15px 0;
  opacity:0;
      transition:all 0.1s ease-in;

}
.listItem:hover .deleteImage{
  opacity: 1;
}
.listContainer{
  width: 90%;
  margin:0 auto;
}
.photo-link{
  padding: 0 20px;
  color:#666;
}

.gItem{
  width:30%;
  border:1px solid #ddd;
  margin:0 20px 20px 0;
  display: inline-block;
  position: relative;
  border-radius: 4px;
}

.gItem img{
  width:100%;
  height:100%;
  height: 300px;
  object-fit:cover;
}

.gItem span{
 color:#333;
  padding:10px;
  display: flex; 
}

.gItem:hover span{
  display: flex;
}
.imageDetails{
  padding:10px;
  text-align: right;
  position:relative;
}
.imageDetails .likeCount{
  position: absolute;
}
.imageDetails .like, .showLikes .like{
  padding: 0;
  width: 36px;
  height: 36px;
  background: none;
  border-radius: 50%;
}
.imageDetails .like.liked
{
  background: #ef3e5f;
 }
.imageDetails .like svg,.showLikes .like svg{
  position:relative;
  top:3px;
}
.imageDetails .like.liked svg
{
  color: #fff;
 }
.gallery{
  /* columns: 3 250px;
  column-gap: 20px; */
}
.gallerySpan{
  column-span: all;
  text-align: center;
}

.postImage{
  width: 98%;
  margin: 15px 2% 0 0;
  max-height: 98vh;
  object-fit: contain;
}
.postImageContainer{
text-align:center;
display:flex;
   flex-direction: column; 
}
.postImageContainer h2{
  text-align: left;
}
.pure-u-1-3.showLikes{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
 }
 .enterComments{
   max-height: 200px;
   width: 320px; 
    max-width: 320px; 
 }
@media screen and (max-width:768px){
  .pure-u-1-4.sidemenu ,.pure-u-3-4.main{
    width: 100% !important;
    height:auto !important;
  }
  .pure-u-3-4.main{
    padding-left:0;
  }
  .gItem{
    width:calc( 49% - 20px );
     margin:0 0 20px 20px;
  }
  .logo{
    display: flex;
    padding:0;
    margin:0;
  }
  .pure-u-1-4.sidemenu{
    position:sticky;
    z-index: 9999;
    padding:0 0 0 20px;
    top:0;
  }
  .logo img{
    width: 50px;
    margin-right:20px;
  }
}